<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628855963397-3fhvrrs9aa8ad0bankh2alj1s1idap0l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628855963397-3fhvrrs9aa8ad0bankh2alj1s1idap0l</string>
	<key>API_KEY</key>
	<string>AIzaSyAW52vvPYayNdgydDdFDuVMdZdto_g6cqA</string>
	<key>GCM_SENDER_ID</key>
	<string>628855963397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shrijee.group6.WeatherApp</string>
	<key>PROJECT_ID</key>
	<string>weatherapp-df24d</string>
	<key>STORAGE_BUCKET</key>
	<string>weatherapp-df24d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628855963397:ios:32d0f90555165735ad016c</string>
</dict>
</plist>